article{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

article a{
    text-decoration: none;
    color: black;
}

#conteinerblog{
    display: flex;
}

article h1{
    margin-left: 50px;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: -25px;
}

div#blogpets{
    width: 45%;
    padding: 50px;
    transition: 0.5s;
 
    
}

div#blogpets:hover{
    width: 70%;
    transition: 0.5s;
    
}

#blogpets h2, p, img{
    width: 100%;
    text-align: justify;
}

#blogpets h2{
    margin-bottom: 5px;
    
}

#blogpets p{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

